.header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;

    .header-title{
      color: black;
      font-size: 24px;
      margin-left: -20px;
    }

    .header-logo{
      height: 90px;
      margin-bottom: 10px;
      width: 70px;
    }
  }
